@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');
@import "tailwindcss";

:root {
  --theme-color-primary: #5048e5;
}

@theme {
  --font-sans: "Manrope", ui-sans-serif, system-ui, sans-serif;
  --color-primary: var(--theme-color-primary);
  --color-background-light: #f6f6f8;
  --color-background-dark: #121121;
}

@layer base {
  body {
    @apply bg-background-light text-slate-900 antialiased;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
